/* color palette
plum: #340328
olive: #54592d
rust: #b94515
gold: #e39806
*/

:root {
    --plum: #340328;
    --olive: #54592d;
    --rust: #b94515;
    --gold: #e39806;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* generic rules */

body {
    margin: 0;
    background: radial-gradient(
        circle,
        #ffffff,
        #f0d49e
    )
}

.headers {
    font-family: 'Moon Get!';
    color: var(--olive);
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px 1px var(--plum);
}

h1 {
    font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
    font-size: calc(14px + (32 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}


a {
    text-decoration: none;
    color: var(--rust);
    transition: color 0.3s ease /*transition color when hovering */
}

a:hover {
    color: var(--plum);
    text-decoration: none;  
}

ul {
    list-style-type: none;
    padding-left: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
}

/* header */
/* nav */

#nav {
    margin-bottom: 5em;
    width: 100%;
    border-top: 10px solid var(--rust);
    border-bottom: 5px solid var(--rust);
}


#navbar {
    margin-bottom: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* text-align: right; */
}

#navbar li {
    text-transform: uppercase;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}


.banner { 
    margin: 5em 0;
    width: 100%;
    height: auto;
} 

#banner-logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

/* main */

.content {
    width: 60%;
    height: auto;
    padding: 1em;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--plum);
}

#mission {
    margin: 2em 0;
    width: 50%;
}

#goal {
    margin: 2em 2em; 
    width: 40%;
    text-align: right;
    float: right;
}

.program-container {
    margin-top: 60px ;
}

#program1 {
    margin: 5em 0;
}

#program2 {
    margin: 10em 2em;
    text-align: right;
    float: right; 
}

#program4 {
    margin: 10em 2em;
    text-align: right;
    float: right; 
}

#team-header {
    margin: 2em 0;
}

.team-member {
    margin: 2em 0;
    padding: 1em;
}

.team-member h3 {
    margin-bottom: 1em;
}

.team-member figure {
    text-align: center;
}

.team-member img {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--plum);
    border-radius: 50%;
     box-shadow: 2px 2px 2px var(--plum);
} 

.team-member figcaption {
    padding-top: 8px;
    font-style: italic;
}

.team-member .text {
    margin-top: 1em;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
    text-align: justify; 
}

footer {
    margin: 5em 0;
    padding: 1em;
    width: 100%;
    border-top: 5px solid var(--rust);
}

#social-text {
    text-align: right;
}

@media (max-width: 767px) {
    #social-text {
        text-align: center;
    }

    #address {
        margin-bottom: 10px;
        text-align: center;
    }
}

#social-text a {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink{
    50% {
        color: var(--rust);
    }

    100% {
        color: var(--gold);
    }
}


.top {
    text-align: center;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

#colophon {
    text-align: center;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}